{
"url":"https://hooks.energyid.eu/services/WebhookIn/xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx/xxxxxxxxxxxx",
"meter":"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx",
"guid":"xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
}
